Etapa 1/MI_PRIMER_SEMANA/formulario.html
Etapa 1/MI_PRIMER_SEMANA/index_css.html
Etapa 1/MI_PRIMER_SEMANA/index.html
Etapa 1/MI_PRIMER_SEMANA/index2.html
Etapa 1/MI_PRIMER_SEMANA/nosotros.html
Etapa 1/MI_PRIMER_SEMANA/style_css.css
Etapa 1/MI_PRIMER_SEMANA/style.css
Etapa 1/MI_PRIMER_SEMANA/style2.css
Etapa 1/MI_PRIMER_SEMANA/.vscode/settings.json
Etapa 1/MI_PRIMER_SEMANA/img/logo.png
Etapa 1/MI_PRIMER_SEMANA/img/logo1.png
Etapa 1/MI_PRIMER_SEMANA/img/logo11.png
Etapa 1/PRUEBAS/index.html
Etapa 1/PRUEBAS/styles.css
Etapa 1/PRUEBAS/IMG/logo.png
